<div class="container-fluid mt-4 container-scroll" *ngIf="this.page?.items">
  <div class="row mt-2 mx-3 mb-3">
    <div class="col-8">
      <h3>Departments</h3>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-sm btn-success float-end" [routerLink]="['/departments', 'new']">
        <i class="bi bi-plus me-1"></i> Add
      </button>
    </div>

  </div>

  <div class="row mx-3" *ngIf="this.page">
    <div class="col-sm-12 col-md-4 mt-3" *ngFor="let department of this.page.items">
      <app-department-card [department]="department"></app-department-card>
    </div>
  </div>
</div>
